<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="bootsrap.css">
    <title>Estrategia Ecologica</title>
  </head>
  <body class="bgcolor">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <div class="container">
        <a class="navbar-brand text-light d-lg-none" href="index.html"><img src="{{url_for('static',filename='Imagenes/logo pagina web1.jpeg')}}" width="250px" height="130px"  alt="logo pagina"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active text-light " aria-current="page" href="/"><strong class="h4" >Inicio</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/importancia"><strong class="h4">Importancia</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/puntos_limpios"><strong class="h4">Puntos Limpios</strong></a>
            </li>
          </ul>
          <a class="navbar-brand text-light d-none d-md-block " href="/"><img src="{{url_for('static',filename='Imagenes/logo pagina web1.jpeg')}}" width="250px" height="130px"  alt="logo pagina"></a>
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/empresas"><strong class="h4" >Empresas recicladoras</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="/equipo"><Strong class="h4">Equipo</Strong></a>
              </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      <div></div>
      <h1 class="my-4"><strong>Reciclaje de Pymes y Empresas</strong></h1>
      <p class="my-4 text-justify">Ya conociendo la importancia que tiene el medioambiente en nuestro día a día y los aspectos báscios de las 7R en cuanto a sustentatabilidad, nos gustaría invitar a las pequeñas, medianas e incluso grandes empresas o pymes a ser transparentes en cuanto a su acción ecológica. A través de esta difusión de información acerca de la cantidad y selección de empresas o pymes, esperamos facilitar la visibilidad tanto de los productos que se fabrican y las empresas relacionadas, como nuestra sitio web, de tal forma que la comunidad de Peñalolén sea conciente de las acciones buenas que cada pyme y empresa realiza, y a su vez la gente que no este relacionada con lo sustentable, tenga una motivación y soporte más grande, y por lo tanto de esta manera comiencen a cuidar de mejor manera el medioambiente. </p>
      
      <h2 class="my-4">¿Cómo difundiremos las acciones sustentables de las empresas y pymes?</h2>
      <p class="my-4 text-justify">Si eres dueño(a) de una pyme o empresa y quieres visibilizar la cara sustentable de ella, no dudes en contactarnos. Los datos de la empresa serán publicados aquí abajo , de la siguiente manera</p>
      
      <h5 class="my-4"><small>Ejemplos Empresa o pyme</small></h5>

      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <img src="{{url_for('static',filename='Imagenes/bakery.jpeg')}}" class="card-img-top" alt="Estrategia Ecológica">
            <div class="card-body bg-success">
              <h5 class="card-title text-light"><Strong>Mr. Juan's Bakery</Strong></h5>
              <p class="card-text text-light"><strong>Materiales de Producción: </strong> <small class="text-white">material</small></p>
              <p class="card-text text-light"><strong>Proceso de fabricación que ayuda al medioambiente: </strong> <small class="text-white">Proceso...(ej: reutilización de residuos, rediseño de otros porductos, etc.</small></p>
              <p class="card-text text-light"><strong>Que utilidad tiene la fabricación de sus productos: </strong> <small class="text-white">Utilidad...</small></p>
              <p class="card-text text-light"><strong>¿Sus productos son reciclables?: </strong> <small class="text-white">Si/No, ¿Porque?</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <img src="{{url_for('static',filename='Imagenes/ice cream.jpeg')}}" class="card-img-top" alt="ICe Cream">
            <div class="card-body bg-success">
              <h5 class="card-title text-light"><Strong>ICe Cream</Strong></h5>
              <p class="card-text text-light"><strong>Materiales de Producción o utilización: </strong> <small class="text-white">material</small></p>
              <p class="card-text text-light"><strong>Proceso de fabricación que ayuda al medioambiente: </strong> <small class="text-white">Proceso...(ej: reutilización de residuos, rediseño de otros porductos, etc.</small></p>
              <p class="card-text text-light"><strong>Que utilidad tiene la fabricación de sus productos: </strong> <small class="text-white">Utilidad...</small></p>
              <p class="card-text text-light"><strong>¿Sus productos son reciclables?: </strong> <small class="text-white">Si/No, ¿Porque?</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <img src="{{url_for('static',filename='Imagenes/lana.jpeg')}}" class="card-img-top" alt="Wool and textiles">
            <div class="card-body bg-success">
              <h5 class="card-title text-light"><Strong>Wool and textiles</Strong></h5>
              <p class="card-text text-light"><strong>Materiales de Producción: </strong> <small class="text-white">material</small></p>
              <p class="card-text text-light"><strong>Proceso de fabricación que ayuda al medioambiente: </strong> <small class="text-white">Proceso...(ej: reutilización de residuos, rediseño de otros porductos, etc.</small></p>
              <p class="card-text text-light"><strong>Que utilidad tiene la fabricación de sus productos: </strong> <small class="text-white">Utilidad...</small></p>
              <p class="card-text text-light"><strong>¿Sus productos son reciclables?: </strong> <small class="text-white">Si/No, ¿Porque?</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container row">
        <p class="my-4 h3 text-justify">Si te interesa nuestra propuesta, no dudes en llenar el formulario!!. Nos ayudará a mantener el registro de las pymes y empresas interesadas, de forma que tanto nuestro público, como Tú empresa, se integren a las actividades sustentables de Peñalolén</p>
        <div class="col">
          <form action="/formulario" method="GET">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input name="Nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input name="Mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Nombre de la Pyme/Empresa</label>
              <input name="Empresa" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
     

    </div>
    

    





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>