<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootsrap.css')}}">
    <title>Estrategia Ecologica</title>
  </head>
  <body class="bgcolor">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <div class="container">
        <a class="navbar-brand text-light d-lg-none" href="/"><img src="{{url_for('static',filename='imgs/logo pagina web1.jpeg')}}" width="250px" height="130px"  alt="logo pagina"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active text-light " aria-current="page" href="/"><strong class="h4" >Inicio</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/importancia"><strong class="h4">Importancia</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/puntos_limpios"><strong class="h4">Puntos Limpios</strong></a>
            </li>
          </ul>
          <a class="navbar-brand text-light d-none d-md-block " href="/"><img src="{{url_for('static',filename='imgs/logo pagina web1.jpeg')}}" width="250px" height="130px"  alt="logo pagina"></a>
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/empresas"><strong class="h4" >Empresas recicladoras</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="/equipo"><Strong class="h4">Equipo</Strong></a>
              </li>
          </ul>

        </div>
      </div>
  </nav>

  <div class="container">
    <h1 class="my-4">¿Qué es un punto limpio?</h1>
    <p class="text-justify">Un punto limpio es aquel lugar donde cualquier persona puede ir a dejar sus residuos clasificados para que estos sean recogidos por empresas que se encargan de procesarlos para que luego estos puedan ser reusados.Es importante señalar que toda la gente que utilice estos puntos limpios se debe preocupar de respetar esta clasificación, ya que esta es la que permite que empresas puedan iniciar los procesos de reciclaje de forma más sencilla. Pero esta responsabilidad no solo la tiene el usuario, también la tiene aquel que es dueño o cuidador del punto, es decir, que todo esté bien explicado de tal forma que cualquiera pueda entender cómo se organizan los residuos.</p>

    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button pet" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      (1) PET
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-justify">
                      El plástico PET es uno de los plásticos que encontramos con más frecuencia en botellas de agua, jugos, bebidas y textiles, es también el plástico que más reciben los puntos de reciclaje y los recicladores de base, y uno de los más fáciles de reemplazar, basta con comenzar a usar una botella reutilizable para comenzar a dejar de lado el uso de PET.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed hdpe" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      (2) HDPE
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-justify">
                      El plástico HDPE tiene como uso más común envases de detergente, shampoo, lácteos, tuberías, maceteros y sin duda el uso que más rechazo a causado últimamente, bolsas para compras en tiendas y supermercados (son como las que entregaban en las grandes tiendas antes de la Ley anti bolsas, se pueden arrugar y no suenan).
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed pvc" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      (3) PVC
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-justify">
                      En general se conoce su uso en tuberías, pero también se puede encontrar en botellas de aceite, shampoo, envases de medicamentos, embalajes de carnes, embutidos, en manteles, por nombrar algunos. El PVC es considerado tóxico debido a que en su fabricación se usa cloro, además, emana cloruro de vinilo, que con el aumento de temperatura puede pasar a los líquidos (tuberías o botellas de agua).
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed ldpe" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        (4) LDPE
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body text-justify">
                        Este tipo de plástico es considerado ligeramente peligrosos y se encuentra generalmente en envases flexibles como los de las mostazas, mayonesas y ketchup, en bolsas de alimentos congelados y en envases para líquidos como tetrapak y vasos para el café. 
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed pp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        (5) PP
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body text-justify">
                        Unos de los usos más comunes del polipropileno es en los envases de yogurt, pero ahora  también se usa mucho en los envases de alimentos para llevar como sushi, tortas, envases de medicamentos, vajilla desechable, tapas de bebidas y bombillas. Una forma de identificarlo, es arrugándolo porque a diferencia del Polietileno de alta densidad, este suena. 
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed ps" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        (6) PS
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body text-justify">
                        El poliestileno se usa generalmente en bandejas de carne, champiñones, embalaje de electrodomésticos y algunas tazas para café. El problema de usar poliestileno en alimentos, sobre todo en líquidos calientes, es que puede filtrar estireno, un hidrocarburo que está clasificado por el Centro Internacional para la Investigación sobre Cáncer (CIIC) en el grupo 2A como probable carcinógeno para el ser humano.
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                      <button class="accordion-button collapsed otro" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        (7) OTROS
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                      <div class="accordion-body text-justify">
                        Aquí se encuentran todos los plásticos que no se pueden clasificar en las categorías anteriores. En general, se trata de artículos que incluyen varios tipos de plástico y por eso los posibles daños que generan a la salud no se saben con certeza porque tampoco se conoce con exactitud los tipos de resinas que contienen.  
                      </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col">
            <img src="{{url_for('static',filename='imgs/Clasificacion .jpg')}}" class="img-thumbnail" alt="clasificación">
        </div>
    </div>
  </div>
  
  <div class="container my-4">
    <h1 class="my-4">Puntos Limpios Peñalolén</h1>

    <div class="col">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Punto Limpio Jumbo Peñalolén
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.5232176975815!2d-70.55914588512509!3d-33.487761906813496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1b8c86cc1f7%3A0xa142ba422ea46e2f!2sPunto%20Limpio%20Jumbo%20Pe%C3%B1alol%C3%A9n!5e0!3m2!1ses-419!2scl!4v1637166130343!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>
                
                <p class="fst-italic my-4">Disponible para todo público</p>
                
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Punto Limpio Colegio Pedro de Valdivia
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.4025701790647!2d-70.5778096579525!3d-33.49090184142648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d03315730531%3A0xd7b21bacfce9a059!2sColegio%20Pedro%20de%20Valdivia%20-%20Pe%C3%B1alolen!5e0!3m2!1ses-419!2scl!4v1637166537483!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>

                <p class="fst-italic my-4">Disponible solo para estudiantes y trabajadores del recinto</p>

              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Punto Limpio La Escuela
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse " aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.1204273117773!2d-70.56027130152704!3d-33.49824378849441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1b84927d6ad%3A0xb3e12c398ddc800e!2sLa%20Escuela%20Pe%C3%B1alol%C3%A9n!5e0!3m2!1ses-419!2scl!4v1637166867943!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,HDPE,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>

                <p class="fst-italic my-4">Disponible para todo público</p>

              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Punto Limpio Lider Quilín
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse " aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.6025464110976!2d-70.58137968479973!3d-33.48569718076396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d02dcd0af155%3A0x8463da2bc65a6e48!2sAv.%20Am%C3%A9rico%20Vespucio%203098%2C%20Penalolen%2C%20Pe%C3%B1alol%C3%A9n%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1637167721706!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,HDPE,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>

                <p class="fst-italic my-4">Disponible para todo público</p>

                
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Punto Limpio Ecoparque Peñalolén
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse " aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.4007572325163!2d-70.54875848512576!3d-33.464915505640235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce199e08cba3%3A0x5744c51ad3f042fb!2zUGFycXVlIFBlw7FhbG9sw6lu!5e0!3m2!1ses-419!2scl!4v1637167202263!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,HDPE,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>
                <div class="alert puntolimpio" role="alert">
                  Aceite
                </div>

                <p class="fst-italic my-4">Disponible para todo público</p>

              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Punto Limpio Disal
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse " aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6653.916018599238!2d-70.5752193!3d-33.5024696!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d04b3c73f081%3A0x964cfd838dc12976!2sAv.%20Las%20Torres%206108%2C%20Penalolen%2C%20Pe%C3%B1alol%C3%A9n%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1637167958978!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,HDPE,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>

                <p class="fst-italic my-4">Disponible solo para personal de Disal</p>
                
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed puntolimpio" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              Punto Limpio Entel Los Cerezos
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse " aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row">
              <div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.0907304291804!2d-70.57611468479944!3d-33.49901648076009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1b54cff2299%3A0xe83d4d70a041dbae!2sLos%20Cerezos%204340%2C%20Penalolen%2C%20Pe%C3%B1alol%C3%A9n%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1637168103148!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

              <div class="col">
                <h3 class="my-4"><Strong>¿Qué clasificación de residuos tiene este punto?</Strong></h3>
                <div class="alert puntolimpio" role="alert">
                  Papeles y Cartones
                </div>
                <div class="alert puntolimpio" role="alert">
                  Plásticos (PET,HDPE,PVC,PP,PS)
                </div>
                <div class="alert puntolimpio" role="alert">
                  Metal 
                </div>
                <div class="alert puntolimpio" role="alert">
                  Vidrio
                </div>

                <p class="fst-italic my-4">Disponible solo a visitantes y personal del Club de Campo Entel</p>
                
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <p class="fw-light h5 my-4">Si quieres conocer más acerca de los proyectos de reciclaje de la comuna de Peñalolén, <a href="https://www.penalolen.cl/medio-ambiente/puntos-limpios-en-penalolen/">haz click aquí</a>.</p> 


  </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>